@import 'variables';


$short-description_margin: 10px;
// this variable is actually not used in this css script but it 
// is read by header.php and footer.php
// in which javascripts set the height
// CAREFUL: MUST BE GIVEN IN px!!!!
$short-description_box_height: 445px;

$short-description_box_height_mini: 120px;
$short-description_box_width_mini: 120px;


$short-description_inner_box_padding: 10px;

.short-description-container{
  padding: $short-description_margin;
}


.short-description-test {
  background-color:purple;
  height: 200px;
}

.no-interaction-link, 
.no-interaction-link:focus, 
.no-interaction-link:active,
.no-interaction-link:hover {
    outline: none;
    text-decoration: none;
}
.short-description-box{
  position:relative;
  overflow:hidden;
  border: $radius_thickness solid $orange; 

  // when bootstrap does not stack
  //@media only screen and (min-width: 993px) {
  //  height: $short-description_box_height;
  //}  
 
  .header{
    padding-left: $short-description_inner_box_padding;
    padding-right: $short-description_inner_box_padding;
   
    .icon{
      width: 65%;
      margin-top: 20px;
      margin-bottom: 0px;
      @media only screen and (max-width: 549px) {
        display:none;
      }
      @media only screen and (min-width: 550px) and (max-width: 799px) {
        width: 140px;
      }
      @media only screen and (min-width: 800px) and (max-width: 939px) {
        width: 140px;
      }
      @media only screen and (min-width: 940px) and (max-width: 1099px) {
        width: 140px;
      }
      @media only screen and (min-width: 1100px) {
        width: 65%;
      }
     }
    .titel {
      color: $orange;
      font-size: 10px;
      @media only screen and (max-width: 549px) {
        font-size: 10px;
      }
      @media only screen and (min-width: 550px) and (max-width: 799px) {
        font-size: 10px;
      }
      @media only screen and (min-width: 800px) and (max-width: 939px) {
        font-size: 10px;
      }
      @media only screen and (min-width: 940px) and (max-width: 1099px) {
        font-size: 10px;
      }
      @media only screen and (min-width: 1100px) {
        font-size: 15px;
      }
      h1 {
        text-align: center;
      }
    }
  } // end header
  .short-description-content {
     overflow:hidden;
     padding-left: $short-description_inner_box_padding;
     padding-right: $short-description_inner_box_padding;
     .short-description-link {
       color:$orange;
     }

  }
  .toggle-link-inner {
    position:absolute;
    bottom: 0;
    left: 0;
    display:block;

    vertical-align: middle;
    text-align:center;
    background-color:$orange;
    width:100%;
  }
  .toggle-link-inner:hover {
    cursor: pointer;
  }
}

.toggle-link-outer {
  vertical-align: middle;
  text-align:center;
  background-color:$orange;
  width:100%;
  display:none;
}
.toggle-link-outer:hover {
  cursor: pointer;
}

.short-description-box-mini {
  overflow:visible;
  height: $short-description_box_height_mini;
  width:  $short-description_box_width_mini;
  border: $radius_thickness solid $orange;
  position:relative;
  .icon{
    // pixel precise does not work!!
    height: $short-description_box_height_mini * (8/10);
    width:  $short-description_box_width_mini * (8/10);
    position:absolute;
    left:10px;
    top:10px;
    margin:auto;
  }

  .icon-hover{
    display:none;
  }
}
.short-description-box-mini:hover{
  background-color:$orange;
}
.short-description-box-mini:hover .icon-hover{
  display:block;
}

.short-description-box-Projekte {
  height:$short-description_box_height;
}
.short-description-box-Team {
  height:$short-description_box_height;
}

